/* You can add global styles to this file, and also import other style files */
@import "theme.scss";
@include mat-core();
@include angular-material-theme($my-theme);

html, body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}


app-upload .center {
    padding: 2rem;
    #dropZone {
        border: 2px solid #0782d0 !important;
        height: 15rem !important; 

        .content {
            position: absolute !important;
            top:50% !important;
            left: 50% !important;
            transform: translate(-50%, -50%) !important;
            font-family: 'Righteous', cursive;
            font-size: 1.5rem;
        }   
    }
}

.righteous-font {
    font-family: 'Righteous', cursive;
}

